body{
	background-color: #00FF7F;
	padding-left:15px;
	padding-right:15px;	
		

}

	.block1{
	background-color: #FFFFE0;
	border:1px solid #8FBC8F;
	height: auto;
	text-align: :center;
	word-spacing: 3 px;

	}

	.block2{
	background-color: #DEB887;
	border:1px solid #8FBC8F;
	height: auto;
	overflow:auto;	
    text-align: center;
		
	}
	.block3{
	background-color: #9400D3;
	border:1px solid #8FBC8F;
	height: 550px;	
	}
	.block5{
	background-color: #00CED1;
	border:1px solid #8FBC8F;
	height: 200px;	
	}
	.block4{
	background-color: #FFFF00;
	border:1px solid #8FBC8F;
	height: 550;
	overflow:auto;
	text-align: center;	
	}

    .navbar-default {
    background-color: #ffe6d1;
    border-color: #8e44ad;
    }
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
    color: #d1ffed;
    background-color: #8e44ad;
}
.breadcrumbs > li + li:before {
color: #cccccc;
content: "/";
padding: 0 5px;
}


